{% extends 'EhpadApp/main.html' %}

{% block content %} 
{% include 'EhpadApp/navbar.html' %}

<div class="body">
    <h2 class="title">A propos</h2>
</div>

<p>
    Bienvenue à l'EHPAD, un lieu de vie dédié à la qualité de vie 
    et au bien-être de nos résidents. Situé à 1 rue de Django, notre établissement a été créé avec 
    l'ambition de fournir un environnement accueillant, sécurisé et stimulant pour les personnes âgées 
    dépendantes.
</p>
<p>
    Notre résidence a été conçue pour s'intégrer harmonieusement dans son environnement, avec des espaces 
    verts aménagés pour la promenade et la détente. Les intérieurs, lumineux et spacieux, 
    offrent un confort optimal et favorisent le bien-être des résidents. Chaque chambre est équipée pour
    répondre aux besoins individuels de nos résidents tout en leur offrant un espace personnel qu'ils
    peuvent personnaliser à leur guise.
</p>
<p>
    L'équipe de l'EHPAD est composée de professionnels dévoués et attentifs, 
    prêts à répondre aux besoins de chaque résident. Notre personnel, composé de soignants, 
    d'infirmiers, de kinésithérapeutes, de psychologues, et d'animateurs, est formé pour accompagner et
    soutenir nos résidents dans leurs activités quotidiennes, tout en respectant leur autonomie et leur
    individualité.
</p>
<p>
    Nos services comprennent des soins médicaux et infirmiers 24h/24, des repas équilibrés préparés par notre
    chef cuisinier, un programme d'activités variées pour stimuler l'esprit et le corps, ainsi qu'un 
    accompagnement psychologique. Nous mettons également un point d'honneur à maintenir le lien entre nos 
    résidents et leurs familles grâce à des espaces dédiés et une politique de visite flexible.
</p>
<p>
    Nous savons combien le choix d'une maison de retraite est une décision importante. 
    C'est pourquoi nous nous engageons à vous fournir toute l'information nécessaire et à vous accompagner 
    tout au long de ce processus. N'hésitez pas à nous contacter pour plus d'informations ou pour organiser 
    une visite.
</p>
<p>
    A l'EHPAD, chaque jour est une nouvelle occasion de vivre des moments de bonheur,
    d'échange et de partage. Nous sommes impatients de vous accueillir dans notre communauté.
</p>
{% endblock %}