{% extends 'EhpadApp/main.html' %}

{% block content %} 
{% include 'EhpadApp/navbar.html' %}

<div class="body">
    <h2 class="title">Visite Virtuelle</h2>
</div>
<div class="gallery">
    <img src="../../static/img/image-locaux-1.jpeg">
    <img src="../../static/img/image-locaux-2.jpeg">
    <img src="../../static/img/image-locaux-3.jpeg">
    <img src="../../static/img/image-locaux-4.jpeg">
    <img src="../../static/img/image-locaux-5.jpeg">
    <img src="../../static/img/image-locaux-6.jpeg">
    <img src="../../static/img/image-locaux-7.jpeg">
</div>
<p style="text-align: justify; line-height: normal;">
    <span style="font-size: 12pt;">
        <span style="font-family: comic sans ms;">
            L’établissement est situé sur un terrain arboré et se compose d’un
            bâtiment principal.
        </span>
    </span>
</p>
<p style="text-align: justify; line-height: normal;"> </p>
<p style="text-align: justify; line-height: normal;">
    <span style="font-size: 12pt;">
        <span style="font-family: comic sans ms;">
            Il comporte 4 niveaux : sous-sol, rez-de-chaussée et 2 étages
        </span>
    </span>
</p>
<p style="text-align: justify; line-height: normal;"> </p>
<ul>
    <li style="color: rgb(0, 0, 0); font-family: Comic Sans MS; font-size: 12pt; font-style: normal; 
    font-weight: normal;">
        <p style="text-align: justify; color: rgb(0, 0, 0); line-height: normal; font-family: Calibri,sans-serif;
         font-size: 11pt; font-style: normal; font-weight: normal; margin-top: 0cm; margin-bottom: 0pt;">
            <u>
                <span style="font-size: 12pt;">
                    <span style="font-family: comic sans ms;">
                        Au sous-sol
                    </span>
                </span>
            </u>
            <span style="font-size: 12pt;">
                <span style="font-family: comic sans ms;"> 
                    : Machine à laver, espaces de stockage.
                </span>
            </span>
        </p>
    </li>
    <li style="color: rgb(0, 0, 0); font-family: Comic Sans MS; font-size: 12pt; font-style: normal; 
    font-weight: normal;">
        <p style="text-align: justify; color: rgb(0, 0, 0); line-height: normal; font-family: Calibri,sans-serif;
         font-size: 11pt; font-style: normal; font-weight: normal; margin-top: 0cm; margin-bottom: 0pt;">
            <u>
                <span style="font-size: 12pt;">
                    <span style="font-family: comic sans ms;">
                        Au rez-de-chaussée
                    </span>
                </span>
            </u>
            <span style="font-size: 12pt;">
                <span style="font-family: comic sans ms;"> 
                    : 5 appartements, espace de restauration, office cuisine, hall et une salle d'animation.
                </span>
            </span>
        </p>
    </li>
    <li style="color: rgb(0, 0, 0); font-family: Comic Sans MS; font-size: 12pt; font-style: normal;
     font-weight: normal;">
        <p style="text-align: justify; color: rgb(0, 0, 0); line-height: normal; font-family: Calibri,sans-serif;
         font-size: 11pt; font-style: normal; font-weight: normal; margin-top: 0cm; margin-bottom: 0pt;">
            <u>
                <span style="font-size: 12pt;">
                    <span style="font-family: comic sans ms;">
                        Au 1<sup>er</sup> étage
                    </span>
                </span>
            </u>
            <span style="font-size: 12pt;">
                <span style="font-family: comic sans ms;"> 
                    : 7 appartements.
                </span>
            </span>
        </p>
    </li>
    <li style="color: rgb(0, 0, 0); font-family: Comic Sans MS; font-size: 12pt; font-style: normal; 
    font-weight: normal;">
        <p style="text-align: justify; color: rgb(0, 0, 0); line-height: normal; font-family: Calibri,sans-serif;
         font-size: 11pt; font-style: normal; font-weight: normal; margin-top: 0cm; margin-bottom: 10pt;">
            <u>
                <span style="font-size: 12pt;">
                    <span style="font-family: comic sans ms;">
                        Au 2<sup>ème</sup> étage
                    </span>
                </span>
            </u>
            <span style="font-size: 12pt;">
                <span style="font-family: comic sans ms;"> 
                    : 7 appartements.
                </span>
            </span>
        </p>
    </li>
</ul>
<p style="margin: 0cm 0cm 10pt; text-align: justify; line-height: normal;">
    <span style="font-size: 12pt;">
        <span style="font-family: comic sans ms;">
            Les résidents peuvent bénéficier des infrastructures de l’EHPAD.
        </span>
    </span>
</p>

{% endblock %}